.LoginPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &Form{
    width:50vh;
    min-height: 150px;
    justify-items: center;
    border-radius:10px;
    align-items: center;
    box-shadow: 5px 2px 8px 2px #777777;
  }
  &Head{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20px;
    background-color: #fd8c60;
  }
  &Buttom{
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20px;
    background-color: #fd8c60;
  }
  &Label{
    width:100px;
    font-size:15px;
  }
  &Input{
    width:96%;
  }
  &ErrorMessage{
    font-size:10px;
    color:red;
  }
  &ButtonContainer{
    display: flex;
    justify-content: center;
    margin:10px
  }
  &Btn{
    margin:10px;
    cursor: pointer;
    font-size:12px;
    border-radius:5px;
    background-color: #fd8c60;
    border:none;
    width:80px;
    height:30px;
    box-shadow: 2px 2px 2px 0px #777777;
  }
}
.FormContentContainer{
  padding:10px;
  justify-content: center;
}