@import "@react-aria/example-theme";

.autocomplete {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
    height: 180px;
    border: 1px solid var(--border-color);
    padding: 16px;
    border-radius: 10px;
    background: var(--overlay-background);

    .react-aria-SearchField {
        width: 100%;
    }

    .react-aria-Menu {
        flex: 1;
        overflow: auto;
    }

    .react-aria-Label {
        margin-bottom: .5em;
    }
}